* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: hsl(218, 23%, 16%);
	font-family: 'Manrope', sans-serif;
}

.card {
    position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	padding: 2.5rem;
	width: 28rem;
	height: 18rem;
	background-color: hsl(217, 19%, 24%);
	border-radius: 1rem;
}

.advice-number{
    text-transform: uppercase;
    color: hsl(150, 100%, 66%);;
    font-size: 10px;
    letter-spacing: 5px;

}

.advice {
    font-size: 28px;
    text-align: center;
    color: hsl(193, 38%, 86%);
}

.card-circle {
    position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.5rem;
	height: 3.5rem;
    bottom: -1.5rem;
	background-color: hsl(150, 100%, 66%);
	border-radius: 50%;
}
.card-pattern {
    width: 95%;
    margin-bottom: 1.5rem;

}

footer {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
}
